.first{ 
    display: flex;  
}
    
    
    .left-info{
        background-color: rgb(27, 45, 81);
        color: white;
    }
    
    .contact-info{
        padding: 20px;

    }
    
    h2{
       padding: 20px;
    
    }
    
    .link-color{
        color: white;
    }

    .right-info{
        padding-left: 20px;
        text-align: left;
    }
    .description{
        padding-left: 25px;
    }