* {
    font-family: Poppins, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

.nav {
    justify-content: center;
    align-items: center;
}

body > div {
    margin: 75px auto;
}

body > div:nth-child(2) {
    margin-bottom: 75px;
    margin-top: 25px;
}

body > div:last-child {
    margin-top: 75px;
    margin-bottom: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-centered {
    align-items: center;
}

.content-container {
    max-width: 1120px;
    justify-content: center;
    /* margin: auto; */
    padding: 0 20px;
}

#app-logo {
    height: 40px;
    margin-right: 16px;
}

/* .app-logo-container {

} */

#app-title {
    font-weight: bold;
    font-size: 1.88em;
    line-height: 28px;
    color: #173a56;
}

.nav-bar-wrapper {
    width: 100%;
    justify-content: space-between;
}

.nav-links-container > a {
    font-weight: 600;
    font-size: 1em;
    line-height: 28px;
    color: #22343d;
    margin: 0 10px;

}

.primary-button {
    background: #02897A;
    border-radius: 4px;
    height: 43px;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0 25px;
    white-space: pre;
}

.button-outlined {
    background-color: #ffffff;
    color: #173A56;
    border: 1px solid #BCD0E5;
}

.button-link {
    color:#02897A;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;
    text-decoration-line: underline;
    background-color: transparent;
    border: none;    
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
}

.button-link-margin {
    margin-left: 30px;
}

#play-icon {
    height: 17px;
    margin-right: 9px;
}

.buttons-nav {
    margin: 0 12px;
}

.switch-theme-button {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #F3F3F3;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#switch-theme-icon {
    height: 24px;
    width: 24px;
}

.nav-bar-buttons-container {
    justify-content: flex-end;
}

.main-header {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 60px;
    color: #22343D;
}

.content-left-col, .content-right-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.subtitle {
    font-size: 1.13em;
    line-height: 28px;
    color: #22343D;
}

.first-section-right-col {
   width: 100%;
   height: auto;
   pointer-events: none;
}

#menu-icon {
    width: 28px;
    height: 31px;
    display: none;
    cursor: pointer;
}

#menu-colapse {
    display: none;
}

.section-3-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.section-3-row > h2 {
    font-weight: 700;
    font-size: 2em;
    line-height: 48px;
    text-align: center;

}

@media screen and (max-width: 900px) {
    #menu-icon {
        display: flex;
    }
    
    .nav-bar-wrapper > .nav-bar-buttons-container {
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: #FFFFFF;
        box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow-y: hidden;
        transition: all 0.3s ease-in-out;
    }
    
    .nav-bar-buttons-container > .nav-links-container > a {
        display: block;
        width: 100%;
        padding: 5px 0;
    }

    .nav-bar-buttons-container > .action-buttons-wrapper {
        padding: 10px 0;
        flex-direction: column;
    }

    .nav-bar-buttons-container > .action-buttons-wrapper > button {
        margin: 5px 0;
    }

    .nav-bar-buttons-container > .nav-links-container > a:hover {
        text-decoration: underline;
    }

   .nav > #menu-colapse:not(:checked) ~ .nav-bar-wrapper > .nav-bar-buttons-container {
        height: 0;     
    }

    .nav > #menu-colapse:checked ~ .nav-bar-wrapper > .nav-bar-buttons-container {
        max-height: 100vh;
        height: auto;
        padding: 20px 10px;    
    }
}

@media screen and (max-width: 600px) {

    .section-2-col {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }

    .section-2-col-item {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }

}